.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.chords-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-width: 500px;
  height: 100vh;
  flex: 2;
  background-color: rgba(2, 87, 97, 0.34);
}

.piano-container {
  align-items: center;
  width: 100vw;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
