.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chords-container {
  align-items: center;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #555;
}

.piano-container {
  margin-top: 50px;
  align-items: center;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
