.chord-summary {
    color: white;

    position: relative;
    height: 150px;
    width: 300px;

    border-radius: 40px;

    border: 1px solid rgba(255, 255, 255, 0.397);
    box-shadow: rgba(255, 255, 255, 0.034) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
}

.notes {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-size: x-large;
}