.chord-button {
    user-select: none;
    height: 65px;
    width: 65px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

    background-color: white;
    color: black;
}

.chord-button:hover {
    background-color:#4808f7;
    color:white;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.active {
    color: white;
    background-color:#f1c6e5;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

