.my-piano {
    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: space-evenly;
}

.my-piano__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReactPiano__Keyboard {
    pointer-events: none;
}

.chord-notes {
    display: flex;
    justify-content: center;
    gap: 10px;
}